@charset "utf-8";
/* CSS Document */

#wrapper{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font: Georgia, sans-serif;
}
#header{
	top: 0%;
	left: 0%;
	padding: 10px;
	text-align: center;
	background-color: #CD901D;
	margin: 0px;
	position: relative;
}


#logo{
	width: 30%;
	transition
}

nav{
	background-color: #CD901D;
	text-align: center;
}

nav ul{
	list-style: none;
	margin: 0px;
}
nav li{
	display: inline-block;
}

#buffer{
	height: 35px;
	background-image: linear-gradient(#CD901D, #E0BA59);
}

body{
	background-color: #E0BA59;
	background-image: url(images/backgroundHC50.PNG);
}

main{
	overflow: auto;
	background-color: #E0BA59;
	padding: 0px 10px;
}

h1, h2, h3{
	color: #AB7817;
}

footer{
	width: 100%;
	padding-top: 5px;
	bottom: 0%;
	left: 0%;
	background-image: linear-gradient(rgba(255, 165, 0, .5), );
	text-align: center;
}


img[class^="nav"]{
	border: solid #CD901D;
	padding: 5px;
}
a:hover{
	filter: hue-rotate(345deg);
}

/*
phone: <- 480
tablet: 481 - 768
desktop: 769 ->
*/


@media only screen and (max-width:768px){
	#wrapper{width: 85%;}
	#logo{width: 50%;}
	h1{font-size: 30px}
	h2{font-size: 25px}
}
@media only screen and (max-width:480px){
	#wrapper{width: 95%;}
	#logo{width: 80%;}
	h1{font-size: 25px}
	h2{font-size: 20px}
}