@charset "utf-8";
/* CSS Document */

#wrapper{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font: Georgia, sans-serif;
}
#header{
	top: 0%;
	left: 0%;
	padding: 10px;
	text-align: center;
	background-color: #CD901D;
	margin: 0px;
	position: relative;
}


#logo{
	width: 30%;
	transition
}

nav{
	background-color: #CD901D;
	text-align: center;
}

nav ul{
	list-style: none;
	margin: 0px;
}
nav li{
	display: inline-block;
}
nav strong{
	display: none;
	color: #E0BA59;
	border-right: solid;
	border-left: solid;
	padding: 0em 0.5em;
}
#buffer{
	height: 35px;
	background-image: linear-gradient(#CD901D, #E0BA59);
}

body{
	background-color: #E0BA59;
	background-image: url(images/backgroundHC50.PNG);
}

main{
	display: block;
	overflow: auto;
	background-color: #E0BA59;
	padding: 0px 10px;
}

h1{
	color: #AB7817;
}

footer{
	width: 100%;
	padding-top: 5px;
	bottom: 0%;
	left: 0%;
	background-image: linear-gradient(rgba(255, 165, 0, .5), );
	text-align: center;
}


img[class^="nav"]{
	border: solid #CD901D;
	padding: 5px;
}
a:hover{
	filter: hue-rotate(345deg);
}

fieldset{
	text-size:150%;
	border:none;
}
label{
	float: left;
	width: 100px;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}
input{
	display: block;
	margin-top: 10px
}
#inputButtons{
	list-style: none;
	margin: 0px;
}
#inputButtons li{
	display: inline-block;
}
.button{
	background-color: #CD901D;
  	color: #E0BA59;
  	padding: 6px 10px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
	font-weight: bold;
	display: inline-block;
}
.button:hover{
	filter: hue-rotate(345deg);
}

textarea{
	display: block;
	margin-top: 10px;
	height: 5em;
	width: 25em;
}
/*
phone: <- 480
tablet: 481 - 768
desktop: 769 ->
*/


@media only screen and (max-width:768px){
	#wrapper{width: 85%;}
	#logo{width: 50%;}
	h1{font-size: 30px;}
	h2{font-size: 25px;}
	nav img{display: none;}
	nav strong{display:inline-block;}
	textarea{width: 20em;}
}
@media only screen and (max-width:480px){
	#wrapper{width: 95%;}
	#logo{width: 80%;}
	h1{font-size: 90%;}
	h2{font-size: 80%;}
	nav img{display: none;}
	nav strong{display:inline-block;}
	textarea{width: 15em;}
}
