@charset "utf-8";
/* CSS Document */

#wrapper{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font: Georgia, sans-serif;
}
#header{
	top: 0%;
	left: 0%;
	padding: 10px;
	text-align: center;
	background-color: #CD901D;
	margin: 0px auto;
	position: relative;
}
img{/*
	max-width: 35%;
	height: auto;*/
}
img[class^="nav"]{
	border: solid #CD901D;
	padding: 5px;
}

#logo{
	width: 30%;
	transition
}

#josh{
	width: 50%;
	padding: 0;
	border-right: solid thin #CD901D;
	display: inline-block;
}
#josh img{
	max-width:90%;
}
#dom{
	width: 50%;
	padding: 0;
	display: inline-block;
	text-align: right;
}
#info{
	border-top:solid thin #CD901D;
	border-bottom:solid thin #CD901D;
	padding: 0;
	margin: 0;
	width:100%;
}
nav{
	background-color: #CD901D;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
nav li{
	display: inline-block;
	margin: 5px 5px;
}
nav strong{
	display: none;
	color: #E0BA59;
	border-right: solid;
	border-left: solid;
	padding: 0em 0.5em;
}
#buffer{
	height: 35px;
	background-image: linear-gradient(#CD901D, #E0BA59);
	margin: 0px auto;
}

body{
	background-color: #E0BA59;
	background-image: url(images/backgroundHC50.PNG);
}

main{
	display: block;
	overflow: auto;
	background-color: #E0BA59;
	padding: 0px 10px;
}

h1{
	color: #AB7817;
}
table {
	border-collapse: collapse;
	width: 100%;
}

th{
	background-color: #CD901D;
	color: #E0BA59;
	font-weight: bold;
}

th, td{
	border-bottom: 1px solid #dddddd;
	text-align: center;
}

tr:nth-child(even){background-color: rgba(221,221,221,0.5);}

footer{
	padding-top: 5px;
	background-color: #E0BA59;
	text-align: center;
}

footer ul{
	list-style:none;
	padding: 5px 0px;
}


fieldset{
	text-size:150%;
	border:none;
}
label{
	float: left;
	width: 100px;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}
label[class^=radio]{
	float: none;
	width: 100px;
	clear: none;
	text-align: left;
	padding-right: 0;
	margin-top: 0;
}
input{
	display: block;
	margin-top: 10px
}
input[type^=radio]{
	margin: 10px 0 0 100px;
	display: inline;
}
select{
	margin: 10px 0 0 100px;
	padding: 7px;
	font-weight: bold;
}
fieldset ul{
	list-style: none;
	padding: 0;
}
fieldset li{
	padding-bottom: 5px;
}
.button{
	background-color: #CD901D;
  	color: #E0BA59;
  	padding: 6px 10px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
	font-weight: bold;
	display: inline-block;
}
.navButton{
	background-color: #E6AA00;
	color: #A55A14;
  	padding: 10px 25px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
	display: inline-block;
	margin: 5px 10px;
}
button[class^="navButton"]{
	font-size: 5px;
	font-weight: bold;
	font-size: 15px;
}

textarea{
	display: block;
	margin-top: 10px;
	height: 5em;
	width: 25em;
}
.colorShift:hover{
	filter: hue-rotate(345deg);
}
/*
phone: <- 480
tablet: 481 - 768
desktop: 769 ->
*/


@media screen and (max-width:768px){
	#wrapper{width: 85%;}
	#logo{width: 50%;}
	h1{font-size: 26px;}
	button[class^="navButton"]{display: none;}
	nav strong{display:inline-block;}
	textarea{width: 20em;}
}
@media screen and (max-width:480px){
	#wrapper{width: 95%;}
	#logo{width: 80%;}
	h1{font-size: 20px;}
	button[class^="navButton"]{display: none;}
	nav{margin: 0px;}
	nav ul{margin: 0px; padding: 0px;}
	nav li{display:block; margin: 0px; padding: 2px 0px;}
	nav strong{display:inline-block;}
	textarea{width: 15em;}
	#josh,#dom{
		text-align:center;
		border:none;
		padding:2.5%;
		max-width:100%;
	}
	#josh img,#dom img{max-width:75%;}
}
